
    <footer class="footer bg-primary text-center p-5 text-white fixed-bottom">
        <div class="container">
            <p>&copy; {{getCurrentYear}} Our Pet Adoption App, Created by Dev, Thiago, Marcelo, and Martin with a lot of googling and caffeine!</p>
        </div>
    </footer>

    <!-- Add your JavaScript code to show the footer when scrolling down -->

    