<footer class="footer bg-primary text-center py-3 fixed-bottom text-white">
    <div class="container">
        <p>&copy; {{getCurrentYear}} Our Pet Adoption App, Created by Dev, Thiago, Marcelo, and Martin with a lot of googling and caffeine!</p>
    </div>
</footer>