<footer class="footer bg-primary text-center py-3 text-white fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; {{getCurrentYear}} Our Pet Adoption App</p>
                </div>
                <div class="col-md-6">
                    <p class="d-md-none">Created by Dev, Thiago, Marcelo, and Martin</p>
                    <p class="d-none d-md-block">Created by Dev, Thiago, Marcelo, and Martin with a lot of googling and caffeine!</p>
                </div>
            </div>
        </div>
    </footer>