<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
    

    <main>
        {{{body}}} <!-- Render the content of the view -->
        {{{ petData }}}
    </main>

 
</body>
</html>
