<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption Center</title>
   <!-- <link rel="stylesheet" href="public/css/style.css"> -->
</head>
<body> 
    <!-- Hero -->
    <section class="hero text-center">
        <div class="hero-bg">
            <img src="https://img.freepik.com/premium-photo/banner-pets-bengal-cat-labrador-retriever-dog-hide-blank-isolated-white-background_77749-755.jpg?w=900" alt="Adorable Pets">
        </div>
        <div class="hero-content"> 
            <h1>Welcome to Our Pet Adoption Center!</h1>
            <p>Find your new furry friend today.</p>
            <a class="btn btn-primary btn-lg" href="/petRoutes">View Pets! </a>
            <a class="btn btn-primary btn-lg" href="/post-adoption">Rehome your pet! </a>
        </div>
    </section>

    <!-- Main Content -->
    <main class="container mx-auto">
        <div class="row justify-content-center"> <!-- Center the entire row -->
            <div class="col-lg-8 text-center">
                <p>
                    "Our mission is to connect loving homes with deserving pets. At our pet adoption website, we are dedicated to making a positive impact on the lives of both animals and their future human companions. Our goal is to provide a platform where abandoned, rescued, and sheltered animals can find their forever homes, filled with love and care. We strive to raise awareness about the importance of adoption, rescue, and responsible pet ownership while facilitating joyful and lasting relationships between humans and their furry companions. Together, we aim to create a world where every pet finds a safe and loving place to call home."
                </p>
            </div>
        </div>
    </main>

</body>
</html>
