<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption Center</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <!-- Hero -->
    <section class="hero text-center">
        <div class="hero-bg">
            <img src="https://img.freepik.com/premium-photo/banner-pets-bengal-cat-labrador-retriever-dog-hide-blank-isolated-white-background_77749-755.jpg?w=900" alt="Adorable Pets">
        </div>
        <div class="hero-content"> <!-- Centered text -->
            <h1>Welcome to Our Pet Adoption Center!</h1>
            <p>Find your new furry friend today.</p>
            <a class="btn btn-primary btn-lg" href="#">View Pets! </a>
        </div>
    </section>

    <!-- Main Content -->
    <main>
        <!-- add main content -->
    </main>
</body>
</html>
