<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
 

    <main>
        <h1>Welcome to the Pet Adoption Centre!</h1>
        <p>This is the home page content.</p>
    </main>


</body>
</html>
