<body>
    <h1>Login</h1>
        <form id="login-form" action="/login" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    
    
    
    
    
    <h1>If not registered yet, sign up here:</h1>

     <form id="signup-form" method="POST">
            
            <div>
                <label for="signupUsername">Username</label>
                <input type="text" id="signupUsername" name="signupUsername" required>
            </div>
            <div>
                <label for="signupPassword">Password</label>
                <input type="password" id="signupPassword" name="signupPassword" required>
            </div>
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>
</body>