<title>Login</title>

<body>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1>Login</h1>
            <form class="login-form" id="email-login-form">
                <div class="form-group">
                    <label for="email-login">Email</label>
                    <input type="email" class="form-control" id="email-login" name="email-login" required>
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="password" class="form-control" id="password-login" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1>If not registered yet, sign up here:</h1>
            <form class="signup-form" id="signup-form">
                <div class="form-group">
                    <label for="signUpEmail">Email</label>
                    <input type="email" class="form-control" id="signUpEmail" name="signUpEmail" required>
                </div>
                <div class="form-group">
                    <label for="signupPassword">Password</label>
                    <input type="password" class="form-control" id="signupPassword" name="signupPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
    <script src="./js/login.js"></script>
</body>

