<title>All Pets</title>
    <style>
        body {
            text-align: center; /* Center the content */
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px; /* below heading space */
        }

        ul {
            list-style-type: none; /* Remove list bullets */
            padding: 0; /* Remove default padding */
            display: flex; /* Display list items in a row */
            flex-wrap: wrap; /* Allow items to wrap to the next line if they don't fit */
            justify-content: center; /* Center the items horizontally within the container */
        }

        li {
            margin: 10px; /* Add spacing between items */
        }

        a {
            text-decoration: none; /* Remove underline from links */
            font-size: 18px;
            color: #333; /* Set link color */
        }
    </style>
</head>
<body>
    <h1>All Pets</h1>
    <ul>
        {{#each petData}}
            <li><a href="/petRoutes/{{id}}">{{pet_name}}</a></li>
        {{/each}}
    </ul>
</body>