

 <body>
        <h1>Post Adoption</h1>
        <form id="post-adoption-form" action="/post-adoption" method="POST">
            
            <div>
                <label for="petName">Pet Name</label>
                <input type="text" id="petName" name="petName" required>
            </div>
           
            <div>
                <label for="breed">Breed</label>
                <input type="text" id="breed" name="breed" required>
            </div>
            <div>
                <label for="age">Age</label>
                <input type="text" id="age" name="age" required>
            </div>
         
       

            <button type="submit">Submit for Adoption</button>
        </form>
    </body>